---
import { SEO } from "astro-seo";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:url" content="https://astro-garden-theme.netlify.app">
		<meta property="og:type" content="website">
		<SEO
			title={title}
			description={description}
			openGraph={{
				basic: {
					title: `${title} | ${description}.`,
					type: "og:image",
					image: "https://asset.cloudinary.com/tar-heel-dev-studio/23044f064728dd9ed93bc07ccbd206f0",
				}
			}}
			twitter={{
				creator: "@geauxweisbeck4"
			}}
			extend={{
				// extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
				// extending the default meta tags
        meta: [
					{
						name: "twitter:image",
						content: "https://asset.cloudinary.com/tar-heel-dev-studio/23044f064728dd9ed93bc07ccbd206f0",
					},
					{ name: "twitter:title", content: "Astro Theme Garden" },
					{ name: "twitter:description", content: "Astro Starter Theme that makes building digital gardens a breeze." },
				],
			}}
		/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>